<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Muuttoankkasovellus</title>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="css/styles.css" type="text/css" />
        
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-route/angular-route.min.js"></script>

        <script src="app/app.js"></script>
        <script src="app/services/api.js"></script>
        <script src="app/controllers/sightings_controller.js"></script>
        <script src="app/controllers/show_sight_controller.js"></script>
        <script src="app/controllers/species_controller.js"></script>
        <base href="/">
    </head>
    <body ng-app="MuuttoApp">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Muuttoankkasovellus</a>
                </div>
                
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Sightings</a></li>
                        <li><a href="/species">Species</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <div id="main-container" ng-view></div>
    </body>
</html>